<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
    <script src={{ url_for("static", filename="try_js.js") }}></script>
    <script src={{ url_for("static", filename="plotly-2.12.1.min.js") }}></script>

</head>
<body>
    <form method="POST" action="http://127.0.0.1:5000/show_data">
        <input type=text name="text_input" value="">
        <input type=submit name="submit" value="送信">
    </form>
    <input type="button" name="button" value="ボタン" onclick="change_table();">
    
    <select name="select" id="select_id" onchange="change_select();">
        <option value="red">赤</option>
        <option value="blue">青</option>
        <option value="" selected>色なし</option>
    </select>
        

    <table id="table_id">
        <tr>
            <th>見出し1</th>
            <th>見出し2</th>
            <th>見出し3</th>
        </tr>
        <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
        </tr>
    </table>
    <div id="try_graph" style="width:600px;height:250px;margin: auto;"></div>
    <script>
        var trace = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            mode: 'markers',
            type: 'scatter'
        };
        var data = [trace];
        Plotly.newPlot('try_graph', data);
    </script>
    
</body>
</html>